extends layout

block content
  h1 Fetch Word
  form(name="post-data", method="get" action='/word')
        div.actions
            input(type="submit", value="Submit")
  br
  .succces-msg #{successMsg}
        
  h1 Add Word        
  form(name="get-data", method="post" action='/word ')
        div.input
            span.label(for="post-input") Search for word
            input(type="text", name="word-post" id='post-input')
        div.actions
            input(type="submit", value="Submit")

  h1 Delete  Word        
  form(name="delete-data", method="GET" action='/delete-word ')
        div.actions
            input(type="submit", value="Submit")


   .fetched-words 
    h2 Fetched Words
    ul.fetched-word-list
     for word in fetchedWords
      li= word
     else
      li no words to display yet     
   .deleted-words 
    h2 Deleted Words
    ul.deleted-word-list
     for word in deletedWords
      li= word
     else
      li no deleted words to displauy yet   